@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}



#btc-background-canvas {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: -1;
  pointer-events: none;
  opacity: 0.3;  /* soft background look */
}

/* Hide Next.js dev indicator button */
#__next-build-indicator,
#__next-build-watcher {
  display: none !important;
}

